---
import Container from "./Container.astro";
import Socials from "./Socials.astro";
const today = new Date();
---

<footer class="border-t border-neutral-800">
  <Container class="flex flex-col items-center justify-center py-8 gap-4">
    <p>
      Copyright &copy; {today.getFullYear()} - All rights reserved.
    </p>
    <Socials />
  </Container>
</footer>
